.linear-pattern {
    background-color: #00ccd6;
    background-image: linear-gradient(90deg, transparent 50%,
    rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}

.checkerboard-pattern {
    background-color: white;
    background-image:
            linear-gradient(45deg, #ccc 25%, transparent 25%),
            linear-gradient(-45deg, #ccc 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #ccc 75%),
            linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size:20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.cross-pattern {
    background:
            radial-gradient(circle, transparent 20%, slategray 20%,
            slategray 80%, transparent 80%, transparent),
            radial-gradient(circle, transparent 20%, slategray 20%,
            slategray 80%, transparent 80%, transparent) 50px 50px,
            linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
            linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.waves-pattern {
    background:
            radial-gradient(circle at 100% 50%, transparent 20%, #00D4F0 21%,
            #00D4F0 34%, transparent 35%, transparent),
            radial-gradient(circle at 0% 50%, transparent 20%, #00D4F0 21%, #00D4F0 34%, transparent 35%, transparent) 0 -50px;
    background-color: #EEEEEE;
    background-size: 75px 100px;
}

.zigzag-pattern {
    background:
            linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
            linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
            linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
            linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #EC173A;
}

.grid-pattern {
    background-size: 40px 40px;
    background-image:
            linear-gradient(to right, grey 1px, transparent 1px),
            linear-gradient(to bottom, grey 1px, transparent 1px);
    background-position: 10px 10px;
}
